@model GetIdDoneAPI.Models.TaskListViewModel

@{
    var ModelPage = Model; 
}
<table class="table">
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="toggleCheckbox" onclick="toggleAllCheckboxes()"></th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Edited</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in ModelPage.Tasks)
        {
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>@task.Name</td>
                <td>@task.Created</td>
                <td>@task.Edited</td>
                <td>@task.Status</td>
            </tr> 
        }
    </tbody>
</table>

<script>
    function toggleAllCheckboxes() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var toggleCheckbox = document.getElementById('toggleCheckbox');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = toggleCheckbox.checked;
        }
    }
</script>